
  .calendar-container {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
  }
  
  .background-gradient {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image:url(https://images.pexels.com/photos/342520/pexels-photo-342520.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
    z-index: -1;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .calendar-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 1;
    color: #ecebeb;
  }
  
  .calendar-heading {
    font-size: 32px;
    margin-bottom: 20px;
    animation: 2s anim-lineUp ease-out infinite;
    font-family: 'Times New Roman', Times, serif;
}
@keyframes anim-lineUp {
  0% {
    opacity: 0;
    transform: translateY(80%);
  }
  20% {
    opacity: 0;
  }
  50% {
    opacity: 1;
    transform: translateY(0%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}
  
  
  .calendar-wrapper {
    display: flex;
    align-items: flex-start;
    justify-content: center;
  }
  
  .calendar {
    max-width: 700px;
   
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-right: 20px;
    color: rgb(11, 11, 11);
  }
  
  .custom-calendar {
    width: 100%;
    height: 100%;
  }
  
  .custom-tile {
    background-color: #fff;
    color: #333;
    border-bottom: 1px solid #ddd;
    transition: background-color 0.2s ease;
  }
  
  .custom-tile:hover {
    background-color: #f0f0f0;
    cursor: pointer;
  }
  
  .custom-tile.react-calendar__tile--active {
    background-color: #041527;
    color: #fff;
    font-weight: bold;
  }
  
  .custom-tile.react-calendar__tile--active:hover {
    background-color: #0056b3;
  }
  
  .notes-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  
  .note-input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: none;
    border-radius: 4px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  }
  
  .add-note-button {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 8px 16px;
    cursor: pointer;
  }
  
  .add-note-button:hover {
    background-color: #0056b3;
  }
  
  .note-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  .note-list li {
    margin-bottom: 6px;
  }
  