.start{
    background-image:url(https://images.pexels.com/photos/5405838/pexels-photo-5405838.jpeg); 
    overflow: hidden;
    height:750px;
    background-size: 100%;
    
}
.logostart{
  margin-top: -40px;
}
.wrapper{
    position: fixed;
    top: 60%;
    left: 96%;
    padding-right:20%;
    transform: translate(-50%, -50%);
    overflow: hidden;
  }
  
  .link_wrapper{
    position: relative;
    overflow: hidden;
  }
  
.starting{
    display: block;
    width: 250px;
    height: 50px;
    line-height: 50px;
    font-weight: bold;
    text-decoration: none;
    background: #333;
    text-align: center;
    background-color:black;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 1px;
    border: 3px solid #333;
    transition: all .35s;
    z-index: 2;
    
  }
  
  .icons{
    width: 50px;
    height: 50px;
    border: 3px solid transparent;
    position: absolute;
    transform: rotate(45deg);
    right: 0;
    top: 0;
    z-index: -1;
    transition: all .35s;
  }
  
  .icons svg{
    width: 30px;
    position: absolute;
    top: calc(50% - 15px);
    left: calc(50% - 15px);
    transform: rotate(-45deg);
    fill: violet;
    transition: all .35s;
  }
  
  .starting:hover{
    width: 200px;
    border: 3px solid purple;
    background: black;
    color:violet;
  }
  
  .starting:hover + .icons{
    border: 3px solid #0f93b8;
    right: -25%;
  }
.startLogo{
    border-radius:500px;
    height:2%;
    width:41%;
    text-align:center;
    overflow: hidden;
}
.startLogo:hover {
    /* Start the shake animation and make the animation last for 0.5 seconds */
    animation: shake 0.5s;
  
    /* When the animation is finished, start again */
    animation-iteration-count: infinite;
  }
  
  @keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
  }
  
  .waviy {
    position: relative;
    padding-left: 20px;
  }
  .waviy span {
    position: relative;
    display: inline-block;
    font-size: 80px;
    color: #fafafd;
    text-transform: uppercase;
    animation: flip 1s infinite;
    animation-delay: calc(.2s * var(--i))
  }
  @keyframes flip {
    0%,80% {
      transform: rotateY(360deg) 
    }
  }

  .howimage1{
    margin-left:20px ;
    margin-top:20px;
  }